@font-face {
    font-family: MuseoSans-900;
    src: url("/fonts/MuseoSans-900.woff");

}
@font-face {
    font-family: MuseoSans-700;
    src: url("/fonts/MuseoSans-700.woff");

}
@font-face {
    font-family: MuseoSans-500;
    src: url("/fonts/MuseoSans-500.woff");

}
@font-face {
    font-family: MuseoSans-300;
    src: url("/fonts/MuseoSans-300.woff");

}
@font-face {
    font-family: MuseoSans-100;
    src: url("/fonts/MuseoSans-100.woff");

}
*{
    list-style: none;
}
a{
    text-decoration: none !important;
}
.header{
    position: static;
    height: 60px;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #232B38;
}
.header ul{
    display: flex;
}
.header ul li{
   
    display: flex;
    align-items: center;
    justify-content: center;
}
.header ul li a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    height: 60px;
    padding: 5px;
    position: relative;
    font-size: 14px;
    font-family:'MuseoSans-900' ;
    color: #fff;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 25%);
}
.header ul li button{
    font-family: 'MuseoSans-700';
    color: #fff;
    font-size: 12px;
    padding: 8px;
    background-color: transparent;
    width: 90px;
    border-radius: 18px;
    border: none;
    outline: 1px solid white;
    height: 36px;
    font-weight: 600;
    cursor: pointer;
}
.header i{
    font-size: 12px;
    margin-left: 3px;
}
.header ul li a:hover{
    background-color: #1A202A;
}

.header ul li button:hover{
   background-color: rgba(255, 255, 255, 0.13);
}
a, button{
    transition: all .25s ease 0s;
}
.underline{
    display: inline-block;
    position: relative;
}
.underline::after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: rgb(234, 5, 5);
  transition: all 0s ease;
}
.underline:hover::after{
    transform: scaleX(1);

}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0rem !important;
}
.headermobile{
    display: none;
}
.footer{
    position: absolute;
  bottom: 0; 
    width: 100%;
}
.footer .social{
    border-top: 1px dotted white;
    height: 60px;
    background-color: #232B38;
    display: flex;
    justify-content: center;
}
.footer .social ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footer .social ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
 
}
.footer .social i{
    color: #C8CACD;
  font-size: 20px;
}
.footer .linksfooter{
    display: flex;
    justify-content: center;
    height: 57px;
    background-color: #181C23;
    border-bottom: 1px solid #808080;
    
}

.footer .linksfooter ul{
    display: flex;
    flex-direction: row;
    
}
.footer .linksfooter ul li{
   list-style: none;
   height: 57px;
}
.footer .linksfooter ul li a{
    color: white;
    font-size: 11px;
    height: 57px;
    padding:10px ;
    border-left: .5px solid #232B38;
    border-right: .5px solid #232B38;
    display: flex;
   align-items: center;
   font-family: 'MuseoSans-500';
   
}
.footer .infolinks{
    height: 118px;
    background-color: #181C23;
    display: flex;
    justify-content: center;
}
.footer .infolinks ul{
    display: flex;
    flex-direction: row;

}
.footer .infolinks ul li{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}
.footer .infolinks ul li a{
    color: #C3CBD7;
    font-family: 'MuseoSans-300';
    font-size:11px ;
    line-height: 80px;
}
.footer .infolinks ul li p{
    color: #C3CBD7;
    font-family: 'MuseoSans-300';
    font-size:11px ;
}
.footer .infolinks ul li a , .footer .infolinks ul li p {
    margin: 15px;
}
.footer .infolinks ul li:hover{
    color: white;
    border-bottom: 1px dotted white;
}
.footer .infolinks ul .copyrihttext:hover{
    border-bottom: none;
} 
.footer .infolinks ul li a:hover{
    color: white;
}
.fa-tkblog {
    background-image: url(https://www.turkishairlines.com/theme/img/icons/tkblog-icon.png)!important;
    height: 19px;
    width: 19px;
}
@media screen and (max-width:700px) {
    .footer .linksfooter{
       
        overflow-x: scroll;
    }

    .footer .linksfooter ul li a{
        color: white;
        font-size: 8px;
    }
    .footer .infolinks{
        height: 160px;
        background-color: #181C23;
        display: flex;
        justify-content: center;
    }
    .footer .infolinks ul{
        display: flex;
        flex-direction: row;
    
    }
    .footer .infolinks ul li{
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
    }
    .footer .infolinks ul li a{
        
        color: #C3CBD7;
        font-family: 'MuseoSans-300';
        font-size:8px ;
        line-height: 20px;
    }
    .footer .infolinks ul li p{
       
        color: #C3CBD7;
        font-family: 'MuseoSans-300';
        font-size:8px ;
    }
    .footer .infolinks ul li a , .footer .infolinks ul li p {
        margin: 10px;
    }
}